/* Change the background color of the tabs */
.nav-tabs .nav-link.active {
    background-color: hsl(138, 94%, 30%);
    color: #fff;
}

/* Change the hover color of the tabs */
.nav-tabs .nav-link:hover {
    background-color: #e9ecef;
    color: #343a40;
}

.navbar-brand {
    font-weight: bold;
  }

  .header-description {
    color: #CFCFCF;
    margin: 4px auto;
    text-align: center;
    max-width: 384px;
}
  